
body {
    background-image: url("Images/background5.jpg");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: 100% 115%; */
}

div#board {
    width: 70vmin;
    margin-left: 6%;
    float: left;
    display: inline;
}

img {
    width: 12.5%;
    height: 9vmin;
}

div#title {
    font-weight: 500;
    font-size: 3.8vmin;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: darkslategrey;
    margin-bottom: 5%;
    text-align: center;
}


div#title h3 {
   font-weight: 300;
   margin-top: 0.5em;
   margin-bottom: 0.1em;
}


div#menu {
    width: 12%;
    height: 60%;
    float: left;
    display: inline;
    padding-top: 19vmin;
    padding-left: 4%;
}

.menuButton {
    font-size: 2.3vmin;
    font-family: Andale Mono, monospace;
    width: 48%;
    height: 10%;
    color: darkslategray;
    background-color: wheat;
    margin-bottom: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 13%;
    border: 0.5vmin groove Peru;
    border-radius: 30%;
}

.menuButton:hover {
    background-color: lightpink;
    cursor: pointer;
}

.menuButton:active {
   background-color: indianred;
}


/*
    .alert {
        padding: 20px;
        background-color: #f44336; // Red 
        color: white;
        margin-bottom: 15px;
    }
*/
