
body {
    background-image: url("Images/background5.jpg");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: 100% 115%; */
}

div#board {
    width: 70vmin;
    margin-left: 6%;
    float: left;
    display: inline;
}

img {
    width: 12.5%;
    height: 9vmin;
}

    img.darkTile:hover {
        filter: hue-rotate(-70deg);
    }
/*
    img.darkTile:hover {
        cursor: grab;
    }


    img.darkTile {
        cursor: grabbing;
    }
*/


#imgOnCursor {
    z-index: 99;
    
}

div#title {
    font-weight: 500;
    font-size: 3.8vmin;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: darkslategrey;
    margin-bottom: 5%;
    text-align: center;
}


    div#title h3 {
        font-weight: 300;
        margin-top: 0.5em;
        margin-bottom: 0.1em;
    }


div#menu {
    width: 12%;
    height: 60%;
    float: left;
    display: inline;
    padding-top: 19vmin;
    padding-left: 4%;
}

.menuButton {
    font-size: 2.5vmin;
    font-family: Andale Mono, monospace;
    width: 11vmin;
    height: 4vmin;
    color: darkslategray;
    background-color: wheat;
    margin-bottom: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 13%;
    border: 0.5vmin groove Peru;
    border-radius: 30%;
}

    .menuButton:hover {
        font-size: 2.8vmin;
        font-weight: 900;
        background-color: lightpink;
        cursor: pointer;
        width: 13vmin;
        height: 5vmin;
        border: 0.5vmin groove saddlebrown;
    }

    .menuButton:active {
        background-color: indianred;
    }


/*
    .alert {
        padding: 20px;
        background-color: #f44336; // Red 
        color: white;
        margin-bottom: 15px;
    }
*/
