body {
    background-image: url("../Images/background5.jpg");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-size: 100%;*/
}

p {
    font-family: Andale Mono, monospace;
}

.menuButton {
    font-size: 2.5vmin;
    color: darkslategray;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.5vmin groove Peru;
}

    .menuButton:hover {
        font-size: 200%;
        font-weight: 900;
        background-color: lightpink;
        cursor: pointer;
        border: 0.5vmin groove saddlebrown;
    }

    .menuButton:active {
        background-color: indianred;
    }