div#board {
    width: 70vmin;
    margin-left: 6%;
    float: left;
    display: inline;
}

img {
    width: 12.5%;
    height: 9vmin;
}

    img.darkTile:hover {
        filter: hue-rotate(-70deg);
    }


#imgOnCursor {
    z-index: 99;
    
}

div#title {
    font-weight: 500;
    font-size: 3.8vmin;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: darkslategrey;
    margin-bottom: 5%;
    text-align: center;
}


    div#title h3 {
        font-weight: 300;
        margin-top: 0.5em;
        margin-bottom: 0.1em;
    }


div#menu {
    width: 12%;
    height: 60%;
    float: left;
    display: grid;
    padding-top: 19vmin;
    padding-left: 4%;
    padding-right: 4%;
}

.userData {
    width: 10vw;
    height: 10vw;
    font-size: 1.5vw;
    text-align: center;
    font-weight: 400;
    font-family: Andale Mono, monospace;
    border: 1px solid black
}

.whitePlayer {
    background-color: rgb(231, 231, 231);
    color: rgb(32, 32, 32)
}

.blackPlayer {
    background-color: rgb(32, 32, 32);
    color: rgb(231, 231, 231)
}

.menuButton {
    font-size: 2.5vmin;
    width: 11vmin;
    height: 3vmin;
    margin-bottom: 12%;
    padding: 16%;
    border-radius: 30%;
}

    .menuButton:hover {
        font-size: 2.8vmin;
        font-weight: 900;
        width: 13vmin;
        height: 5vmin;
    }